* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #F5F6F7;
}

p,
div,
span,
input {
  padding: 0px;
  margin: 0px;
  font-family: "Stolzl-Book";
}

@font-face {
  font-family: "Stolzl-Reg";
  src: url("../assets/fonts/stolzl_regular.otf");
}
@font-face {
  font-family: "Stolzl-Book";
  src: url("../assets/fonts/stolzl_book.otf");
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 100px;
  width: 1840px;
  height: 110px;
  padding: 0px 50px;
  box-shadow: 0 4px 4px 0 rgba(142, 142, 142, 0.04);
  margin: 40px auto;
  margin-top: 20px;
}
.header .logo {
  width: 210px;
  height: 59px;
}
.header .containerHeader {
  display: flex;
  gap: 44px;
}
.header .containerHeader p {
  font-weight: 400;
  font-size: 20px;
  color: #14151f;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main .mainContainer {
  width: 1840px;
  display: flex;
  gap: 20px;
  margin-bottom: 90px;
}
.main .mainContainer .blue_block {
  width: 1840px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1065px;
  height: 888px;
  background-color: blue;
  border-radius: 60px;
  padding: 50px;
  background-image: url("../assets/fish_leg.png");
  background-position: bottom left;
  background-repeat: no-repeat;
}
.main .mainContainer .blue_block .titleText {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 886px;
}
.main .mainContainer .blue_block .titleText .title {
  font-weight: 400;
  font-size: 68px;
  line-height: 116%;
  color: #fff;
  font-family: "Stolzl-Reg";
}
.main .mainContainer .blue_block .titleText .bottomTitle {
  width: 750px;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
  opacity: 0.8;
}
.main .mainContainer .blue_block .bottomText {
  display: flex;
  gap: 20px;
}
.main .mainContainer .blue_block .bottomText .buttonWhoU {
  padding: 10px 20px;
  border: #fff solid 1px;
  border-radius: 42px;
  font-weight: 100;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}
.main .mainContainer .blue_block .bottomText .hesh {
  margin: auto 0px;
  color: #fff;
  font-family: "Stolzl", sans-serif;
  font-size: 24px;
}
.main .mainContainer .container_two {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main .mainContainer .container_two .pinq_container {
  border-radius: 60px;
  width: 755px;
  height: 434px;
  background-color: #ea30ab;
  background-image: url("../assets/rabbit_fish.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.main .mainContainer .container_two .pinq_container .textTitle {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
  width: 521px;
  font-family: "Stolzl-Reg";
}
.main .mainContainer .container_two .pinq_container .bottomInfo {
  display: flex;
  gap: 20px;
}
.main .mainContainer .container_two .pinq_container .bottomInfo .buttonPinq {
  padding: 10px 20px;
  border-radius: 42px;
  font-size: 20px;
  border: #fff solid 1px;
  color: #fff;
}
.main .mainContainer .container_two .pinq_container .bottomInfo .hash {
  font-size: 20px;
  color: white;
  margin: auto 0px;
}
.main .mainContainer .container_two .purple_container {
  width: 755px;
  height: 434px;
  background-color: #8230EA;
  border-radius: 60px;
  background-image: url("../assets/frog.png");
  background-position: top right;
  background-repeat: no-repeat;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.main .mainContainer .container_two .purple_container .textTitle {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
  width: 521px;
  font-family: "Stolzl-Reg";
}
.main .mainContainer .container_two .purple_container .bottomInfo {
  display: flex;
  gap: 20px;
}
.main .mainContainer .container_two .purple_container .bottomInfo .buttonPinq {
  padding: 10px 20px;
  border-radius: 42px;
  font-size: 20px;
  border: #fff solid 1px;
  color: #fff;
}
.main .mainContainer .container_two .purple_container .bottomInfo .hash {
  font-size: 20px;
  color: white;
  margin: auto 0px;
}
.main .bgWhite {
  background-image: url(../assets/background.svg);
  height: 1221px;
  width: 1920px;
  padding-top: 214px;
  margin-bottom: 113px;
  display: flex;
  justify-content: center;
}
.main .bgWhite .whiteConatiner {
  width: 1840px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.main .bgWhite .whiteConatiner .textSlider {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.main .bgWhite .whiteConatiner .textSlider .textBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main .bgWhite .whiteConatiner .textSlider .textBlock .title {
  font-weight: 400;
  font-size: 68px;
  line-height: 120%;
  color: #14151f;
  font-family: "Stolzl-Reg";
}
.main .bgWhite .whiteConatiner .textSlider .textBlock .desc {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #43444c;
}
.main .bgWhite .whiteConatiner .textSlider .containerArrow {
  display: flex;
  gap: 40px;
}
.main .bgWhite .whiteConatiner .textSlider .containerArrow .right {
  transform: rotate(180deg);
}
.main .bgWhite .whiteConatiner .imgBlock {
  display: flex;
  gap: 20px;
  width: 445px;
}
.main .bgWhite .whiteConatiner .imgBlock .greatPeople {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.main .bgWhite .whiteConatiner .imgBlock .greatPeople .infoAboutPeople {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main .bgWhite .whiteConatiner .imgBlock .greatPeople .infoAboutPeople .name {
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  color: #14151f;
  font-family: "Stolzl-Reg";
}
.main .bgWhite .whiteConatiner .imgBlock .greatPeople .infoAboutPeople .descPeople {
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #43444c;
}
.main .containerQuastion {
  width: 1840px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
}
.main .containerQuastion .blockQustion {
  width: 600px;
  height: 374px;
  background-color: #ea30ab;
  border-radius: 40px;
  padding: 50px 0px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .containerQuastion .blockQustion .quest {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
  font-family: "Stolzl-Reg";
}
.main .containerQuastion .blockQustion .buttonBlock {
  display: flex;
  gap: 20px;
}
.main .containerQuastion .blockQustion .buttonBlock .buttonWhite {
  padding: 10px 20px;
  border-radius: 42px;
  border: white solid 1px;
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
}
.main .containerQuastion .blockQustion .buttonBlock .hash {
  margin: auto 0px;
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
}
.main .containerQuastion .colorOrange {
  background-color: #F88470;
}
.main .containerQuastion .colorPurple {
  background-color: #8230EA;
}
.main .bgWhite2 {
  background-image: url(../assets/background2.png);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1162px;
  width: 1920px;
  margin-bottom: 67px;
}
.main .bgWhite2 .containerBlack {
  width: 1840px;
  height: 648px;
  border-radius: 40px;
  padding: 0px 28px;
  background-color: #14151F;
  background-image: url(../assets/fly_hand.png);
  background-repeat: no-repeat;
  background-position: center right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.main .bgWhite2 .containerBlack .bigTextBlock {
  display: flex;
  flex-direction: column;
}
.main .bgWhite2 .containerBlack .bigTextBlock .wantState {
  max-width: -moz-max-content;
  max-width: max-content;
  display: flex;
  padding: 2px 12px;
  background-color: #3048EA;
  color: white;
  font-weight: 400;
  font-size: 68px;
  line-height: 116%;
  color: #fff;
  border: #3048EA solid 2px;
  margin-left: 7px;
  font-family: "Stolzl-Reg";
}
.main .bgWhite2 .containerBlack .bigTextBlock .copyrighter {
  max-width: -moz-max-content;
  max-width: max-content;
  display: flex;
  padding: 2px 17px;
  background-color: #3048EA;
  color: white;
  font-weight: 400;
  font-size: 68px;
  line-height: 116%;
  color: #fff;
  border: #3048EA solid 2px;
  font-family: "Stolzl-Reg";
}
.main .bgWhite2 .containerBlack .freeGuid {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
  width: 576px;
  margin-left: 22px;
  margin-bottom: 40px;
}
.main .bgWhite2 .containerBlack .getBook {
  background-color: white;
  border-radius: 42px;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 24px 60px;
  font-weight: 400;
  font-size: 24px;
  margin-left: 22px;
  line-height: 140%;
  color: #14151f;
}
.main .containerRainbow {
  width: 1840px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 65px;
}
.main .containerRainbow .screenShot {
  background-color: #ea30ab;
  width: 100%;
  height: 140px;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
}
.main .containerRainbow .screenShot .instruction {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
  font-family: "Stolzl-Reg";
}
.main .containerRainbow .screenShot .whoU {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
  padding: 10px 20px;
  border: white solid 1px;
  border-radius: 42px;
}
.main .whiteBlock {
  background-color: white;
  width: 100%;
  height: 140px;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  border: #3048EA solid 1px;
}
.main .whiteBlock .instruction {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #3048EA;
  font-family: "Stolzl-Reg";
}
.main .whiteBlock .containerHash {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main .whiteBlock .containerHash .hash {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #3048ea;
}
.main .whiteBlock .containerHash .whoU {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #3048EA;
  padding: 10px 20px;
  border: #3048EA solid 1px;
  border-radius: 42px;
}
.main .gridBlock {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 33px;
}
.main .gridBlock .greenGrid {
  background-color: #64D85C;
  width: 930px;
  height: 330px;
  border-radius: 40px;
  background-image: url(../assets/fish_bunk.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .gridBlock .greenGrid .title {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
  font-family: "Stolzl-Reg";
}
.main .gridBlock .greenGrid .containerHash {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main .gridBlock .greenGrid .containerHash .button_slog {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
  padding: 10px 20px;
  border: white 1px solid;
  border-radius: 42px;
}
.main .gridBlock .greenGrid .containerHash .hash {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}
.main .gridBlock .purpleGrid {
  background-color: #8230EA;
  width: 930px;
  height: 330px;
  border-radius: 40px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .gridBlock .purpleGrid .title {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
  font-family: "Stolzl-Reg";
}
.main .gridBlock .purpleGrid .containerHash {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main .gridBlock .purpleGrid .containerHash .button_slog {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
  padding: 10px 20px;
  border: white 1px solid;
  border-radius: 42px;
}
.main .gridBlock .purpleGrid .containerHash .hash {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}
.main .gridBlock .blueGrid {
  background-color: #4993FF;
  width: 930px;
  height: 330px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}
.main .gridBlock .blueGrid .title {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
  font-family: "Stolzl-Reg";
}
.main .gridBlock .blueGrid .containerHash {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main .gridBlock .blueGrid .containerHash .button_slog {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
  padding: 10px 20px;
  border: white 1px solid;
  border-radius: 42px;
}
.main .gridBlock .orangeGrid {
  background-color: #FFA53F;
  width: 930px;
  height: 330px;
  display: flex;
  border-radius: 40px;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../assets/fish_rabbit.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 50px;
}
.main .gridBlock .orangeGrid .title {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
  font-family: "Stolzl-Reg";
}
.main .gridBlock .orangeGrid .containerHash {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main .gridBlock .orangeGrid .containerHash .button_slog {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
  padding: 10px 20px;
  border: white 1px solid;
  border-radius: 42px;
}
.main .gridBlock .orangeGrid .containerHash .hash {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}
.main .hardContainer {
  background-image: url(../assets/background3.png);
  height: 1149px;
  width: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0px 50px;
  margin-bottom: 74px;
}
.main .hardContainer .blueBlock {
  width: 1838px;
  height: 648px;
  background: #3048ea;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}
.main .hardContainer .blueBlock .blockText {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main .hardContainer .blueBlock .blockText .titleBlue {
  width: 1107px;
  font-weight: 400;
  font-size: 68px;
  line-height: 116%;
  color: #fff;
  font-family: "Stolzl-Reg";
}
.main .hardContainer .blueBlock .blockText .titleBlue .whiteTitle {
  color: #3048ea;
  background-color: white;
  padding: 5px 10px;
  font-family: "Stolzl-Reg";
}
.main .hardContainer .blueBlock .blockText .desc {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
  width: 603px;
}
.main .hardContainer .blueBlock .jopa {
  position: absolute;
  top: 179px;
  left: 1127px;
  z-index: 1;
}
.main .hardContainer .blueBlock .form_sign {
  position: relative;
  z-index: 2;
  border-radius: 40px;
  width: 550px;
  height: 322px;
  background: #fff;
  padding: 63px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main .hardContainer .blueBlock .form_sign .emailContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main .hardContainer .blueBlock .form_sign .emailContainer .email {
  width: 100%;
  padding-bottom: 8px;
  border: 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #14151f;
  border-bottom: 1px solid #14151f;
  outline: none;
}
.main .hardContainer .blueBlock .form_sign .emailContainer .checkbox.style-b {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.main .hardContainer .blueBlock .form_sign .emailContainer .checkbox.style-b input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.main .hardContainer .blueBlock .form_sign .emailContainer .checkbox.style-b input:checked ~ .checkbox__checkmark {
  background-color: #fff;
}
.main .hardContainer .blueBlock .form_sign .emailContainer .checkbox.style-b input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}
.main .hardContainer .blueBlock .form_sign .emailContainer .checkbox.style-b:hover input ~ .checkbox__checkmark {
  background-color: #eee;
}
.main .hardContainer .blueBlock .form_sign .emailContainer .checkbox.style-b:hover input:checked ~ .checkbox__checkmark {
  background-color: #fff;
}
.main .hardContainer .blueBlock .form_sign .emailContainer .checkbox.style-b .checkbox__checkmark {
  position: absolute;
  top: 3px;
  left: 5px;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #333;
  transition: background-color 0.25s ease;
  border-radius: 4px;
}
.main .hardContainer .blueBlock .form_sign .emailContainer .checkbox.style-b .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}
.main .hardContainer .blueBlock .form_sign .emailContainer .checkbox.style-b .checkbox__body {
  position: relative;
  top: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #14151f;
}
.main .hardContainer .blueBlock .form_sign .emailContainer .userData {
  border-bottom: 1px solid black;
}
.main .hardContainer .blueBlock .form_sign .button_sub {
  border-radius: 42px;
  padding: 22px 125px;
  background: #3048ea;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}
.main .crabContainer {
  width: 1840px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main .crabContainer .orangeBlock {
  border-radius: 40px;
  background: #ffa53f;
  width: 100%;
  height: 140px;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .crabContainer .orangeBlock .whatIsCase {
  font-family: "Stolzl-Reg";
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
}
.main .crabContainer .orangeBlock .containerHash {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.main .crabContainer .orangeBlock .containerHash .hash {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}
.main .crabContainer .orangeBlock .containerHash .button_how {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 42px;
}
.main .crabContainer .whiteBlock {
  position: relative;
  display: flex;
  padding: 0px 50px;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  border: 1px solid #64d85c;
}
.main .crabContainer .whiteBlock .whatIsCase {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #64d85c;
}
.main .crabContainer .whiteBlock .button_how {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #64d85c;
  padding: 10px 20px;
  border: 1px #64d85c solid;
  border-radius: 42px;
}
.main .crabContainer .whiteBlock .tukan {
  position: absolute;
  left: 1129px;
  top: -174px;
}
.main .crabContainer .firstBlocks {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-bottom: 33px;
}
.main .crabContainer .firstBlocks .purpleBlock {
  width: 910px;
  background-color: #ea30ab;
  padding: 50px 0px 50px 50px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.main .crabContainer .firstBlocks .purpleBlock .title {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
  font-family: "Stolzl-Reg";
}
.main .crabContainer .firstBlocks .purpleBlock .containerHash {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main .crabContainer .firstBlocks .purpleBlock .containerHash .button_question {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 42px;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}
.main .crabContainer .firstBlocks .purpleBlock .containerHash .hash {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}
.main .crabContainer .firstBlocks .blueWhiteBlock {
  width: 910px;
  padding: 50px 0px 50px 50px;
  background-color: #4993FF;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .crabContainer .firstBlocks .blueWhiteBlock .title {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
  font-family: "Stolzl-Reg";
}
.main .crabContainer .firstBlocks .blueWhiteBlock .containerHash {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main .crabContainer .firstBlocks .blueWhiteBlock .containerHash .button_question {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 42px;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}
.main .crabContainer .firstBlocks .blueWhiteBlock .containerHash .hash {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}
.main .crabContainer .secondBlocks {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
}
.main .crabContainer .secondBlocks .blackBlock {
  width: 910px;
  background: #14151f;
  padding: 50px 0px 50px 50px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
}
.main .crabContainer .secondBlocks .blackBlock .title {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
  font-family: "Stolzl-Reg";
}
.main .crabContainer .secondBlocks .blackBlock .containerHash {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main .crabContainer .secondBlocks .blackBlock .containerHash .button_question {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 42px;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}
.main .crabContainer .secondBlocks .blackBlock .containerHash .hash {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}
.main .crabContainer .secondBlocks .blackBlock .ylitka {
  position: absolute;
  left: 569px;
  top: 9px;
}
.main .crabContainer .secondBlocks .blueBlock {
  width: 910px;
  padding: 50px 0px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3048EA;
  border-radius: 40px;
}
.main .crabContainer .secondBlocks .blueBlock .title {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
  font-family: "Stolzl-Reg";
}
.main .crabContainer .secondBlocks .blueBlock .button_question {
  width: -moz-max-content;
  width: max-content;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 42px;
}
.main .crabContainer .seeMore {
  width: 100%;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3048EA;
  border-radius: 75px;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #3048EA;
  font-family: "Stolzl-Reg";
  margin-bottom: 23px;
}

footer {
  background-image: url(../assets/background4.png);
  padding-top: 127px;
  width: 1920px;
  margin: 0px auto;
}
footer .purpleFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8230EA;
  height: 158px;
  padding: 0px 40px;
  position: relative;
  margin-bottom: 80px;
}
footer .purpleFooter .footerText {
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  color: #fff;
  font-family: "Stolzl-Reg";
}
footer .purpleFooter .button_download {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #8230ea;
  background-color: white;
  padding: 22px 72px;
  border-radius: 42px;
}
footer .purpleFooter .heart1 {
  width: 70px;
  height: 68px;
  position: absolute;
  left: 1270px;
  top: 46px;
}
footer .purpleFooter .heart2 {
  width: 117px;
  height: 117px;
  position: absolute;
  left: 1340px;
  top: 23px;
}
footer .purpleFooter .heart3 {
  width: 174px;
  height: 172px;
  position: absolute;
  left: 1436px;
  top: -6px;
}
footer .footerLinks {
  margin: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  border-bottom: rgba(20, 21, 31, 0.1);
}
footer .footerLinks .leftPart {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footerLinks .leftPart img {
  margin-right: 19.68px;
}
footer .footerLinks .leftPart .journal {
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  color: #14151f;
  margin-right: 92.64px;
}
footer .footerLinks .leftPart .aboutJour {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  color: #14151f;
}
footer .footerLinks .rightPart {
  display: flex;
  gap: 68px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #14151f;
}
footer .whiteFooter {
  padding-bottom: 45px;
  width: 1920px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: center;
  align-items: center;
}
footer .whiteFooter .stroke {
  width: 1840px;
  height: 1px;
  background-color: rgba(20, 21, 31, 0.1);
}
footer .whiteFooter .containerText {
  width: 1840px;
  display: flex;
  justify-content: space-between;
}
footer .whiteFooter .containerText .fish {
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: rgba(20, 21, 31, 0.4);
}
footer .whiteFooter .containerText .polisity {
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: rgba(20, 21, 31, 0.4);
}/*# sourceMappingURL=style.css.map */